p {
    margin: 0;
}

/* ---------------public------------- */

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.upload-form {
    display: none;
    text-align: center;
}

.label-name,
.path,
.item-size {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-icon {
    font-size: 50px;
    color: #fb4c4c;
}

.no-file {
    text-align: center;
    padding: 30px;
}

.upload-btn {
    float: right;
}

.loading {
    user-select: none;
    height: 80px;
}

.dir-bar .am-btn {
    min-width: 46px;
}

/* ---------------item ------------- */

.item .icon {
    font-size: 40px;
}

.am-icon-folder,
.am-icon-file {
    color: #eecb4a;
}

.item:hover .am-icon-folder,
.item:hover .am-icon-file {
    color: #ffb300;
}


.path-container {
    height: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.path {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

/* ---------------end item------------- */



/* --------------- top ------------- */

.top {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #007acc;
    border: 1px solid #007acc;
}


/* --------------- centent ------------- */

.item {
    user-select: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 5px;
}

.item:hover .label-name,
.item:hover .item-size {
    color: #218dd6;
}

.label-name {
    font-weight: bold;
}


.content {
    padding-top: 86px;
}


/* ----------      file list      --------- */


.file-list {
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

.file-list li {
    margin: 5px 0;
    padding: 8px;
    background: #fff;
}

.file-list label {
    font-weight: normal;
}

.file-list span {
    font-weight: bold;
    margin-right: 30px;
}

.submit-container {
    height: 42px;
    padding-right: 22px;
    text-align: right;
}


.file-container {
    display: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
}

.file-total {
    padding: 10px;
    line-height: 42px;
    font-size: 16px;
    color: #007acc;
    font-weight: bold;
}