/* ---------------public------------- */
body {
    font-family: "Microsoft YaHei", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
}

textarea,
pre {
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    padding-bottom: 0;
}

a {
    color: black;

}

p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}


/** var  */

@talk-symbol: -8px;
@foot-height: 55px;
@top-height: 82px;
@talk-form-height: 160px;

/** top  */


.top {
    height: @top-height;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #007acc;
    border: 1px solid #007acc;

    .mobile {
        cursor: pointer;
        position: absolute;
        font-size: 30px;
        top: -10px;
        padding: 0px 15px;
        right: 0;
        color: black;
        opacity: 0.3;

        &:hover {
            color: white;
            opacity: 1;
        }
    }
}

.content {
    padding-top: 82px;
    padding-bottom: 70px;
}

/** 浏览器版本低 */
.garbage {
    font-size: 16px;
    text-align: center;
    height: 80px;
    background: #007acc;
    color: #fefbfb;
}

.error-icon {
    font-size: 50px;
    color: #fb4c4c;
}

.loading {
    user-select: none;
    height: 80px;
}


/** files */

.files {
    display: none;

    .item {
        user-select: none;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        width: 150px;
        height: 110px;
        padding: 0 2px;
    }

    .item:hover .label-name,
    .item:hover .item-size {
        color: #218dd6;
    }

    .label-name {
        font-weight: bold;
        font-size: 12px;
    }

    .item-size {
        font-size: 12px;
    }






    .file-list {
        padding: 0;
        max-height: 300px;
        overflow-y: auto;
    }

    .file-list li {
        margin: 5px 0;
        padding: 8px;
        font-size: 12px;
        background: #fff;
    }

    .file-list label {
        font-weight: normal;
    }

    .file-list span {
        font-weight: bold;
        margin-right: 30px;
    }

    .submit-container {
        height: 42px;
        padding-right: 22px;
        text-align: right;
    }


    .file-container {
        display: none;
        padding-bottom: 10px;
        margin-bottom: 10px;
        background: #f7f7f7;
        border-bottom: 1px solid #e8e8e8;
    }

    .file-total {
        padding: 10px;
        line-height: 42px;
        font-size: 16px;
        color: #007acc;
        font-weight: bold;
    }

    .current-hide {
        display: none;
    }

    .upload-form {
        display: none;
        text-align: center;
    }

    .item .icon {
        font-size: 40px;
    }

    .am-icon-folder-open {
        color: #deb51e;
    }

    .am-icon-file-text {
        color: #989898;
    }

    .item:hover .am-icon-folder-open {
        color: #d09b1f;
    }

    .item:hover .am-icon-file-text {
        color: #82817f;
    }

    .no-file {
        text-align: center;
        padding: 30px;
    }

    .upload-btn {
        float: right;
    }

    .dir-bar .am-btn {
        min-width: 46px;
    }

    .path-container {
        margin-bottom: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .path {
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        text-align: center;
        margin-bottom: 8px;
    }

    .tabulation {
        .item {
            display: flex;
            width: 100%;
            height: 33px;
        }

        .item .icon {
            font-size: 16px;
            width: 40px;
            line-height: 40px;
        }

        .label-name,
        .item-size {
            line-height: 40px;
            padding-left: 8px;
        }
    }

    .label-name,
    .path,
    .item-size {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}


/** chat */
.chat {

    display: none;

    table {
        width: 100%;
    }

    .uuid {
        text-align: center;
        color: white;
        font-size: 30px;
    }

    .talk-list {
        overflow: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: @top-height;
        bottom: @talk-form-height + @foot-height;
        padding: 3px;
        background: #ebe9e6;

        pre {
            margin: 0 2px;
            border-radius: 6px;
            display: inline-block;
            text-align: left;
            border: 0;
        }

        .take-item {
            margin-bottom: 10px;

            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }

        p {
            font-size: 12px;
            padding: 0 8px;
            background: #ccc8c8;
            height: 44px;
            border-radius: 14px;
            vertical-align: middle;
            line-height: 44px;
        }
    }

    .show-time {
        font-size: 12px;
        color: #218dd6;
    }

    .user-info {
        vertical-align: top;
        visibility: hidden;
        width: 56px;
        text-align: center;

        i {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-size: 40px;
            text-align: center;
        }
    }

    .text-rea {
        position: relative;

        i {
            position: absolute;
            top: -10px;
            font-size: 36px;
        }
    }



    .my {
        pre {
            background: #b2e281;
        }

        .text-rea {
            text-align: right;

            i {
                right: @talk-symbol;
                color: #b2e281;
            }
        }

        .my-info {
            visibility: visible;
            text-align: right;

            i {
                background-image: url('/assets/user.jpg');
            }
        }

    }

    .other {
        pre {
            background: #f8f8f8;
        }

        .other-info {
            visibility: visible;
            text-align: left;

            i {
                background: #ccc;
                border: 1px solid #b9b9b9;
            }
        }

        .text-rea {
            i {
                left: @talk-symbol;
                color: #f8f8f8;
            }
        }

    }

    /** input form */

    .send-form {
        padding: 0 5px;
        height: @talk-form-height;
        position: fixed;
        bottom: @foot-height;
        left: 0;
        right: 0;
        border-top: 1px solid #dedddd;

        textarea {
            border: none;
            outline: none;
            width: 100%;
            resize: none;
            padding: 5px;
            margin: 5px;
            height: 116px;
            border-radius: 3px;
        }

        .submit-bar {
            text-align: right;
            font-size: 12px;
            vertical-align: middle;

            span {
                color: #ccc;
                padding-right: 4px;
                vertical-align: middle;
            }
        }

        .send-message {
            outline: none;
            border-radius: 5px;

            &:focus {
                outline: none;
            }

        }
    }




}


/** footer */
.footer {

    height: @foot-height;
    background: #2d2c2c;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    th.select,
    th:hover {
        color: #007acc;
        background: #292929;
    }

    table,
    tr {
        width: 100%;
    }

    th {
        text-align: center;
        padding: 15px;
        cursor: pointer;
        color: white;
        user-select: none;
    }

}