.path {
  display: flex;
  align-items: center;
  background: #e7e7e7;
  padding: 8px 10px;
  font-size: 12px;

  span {
    flex: 1;
    color: #6d6d6d;
    white-space: nowrap;
    padding-right: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 6px;
  }
}

.loading-box {
  text-align: center;
  font-size: 14px;
}

.tool-bar {
  display: flex;
  align-items: center;
  padding: 5px 9px;
}

.dir-jump {
  button {
    margin-right: 14px;
  }
}

.changer {
  margin-left: auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    &.status i {
      color: #d9d9d9;
      &.selected {
        color: #40a9ff;
      }
    }
  }
}

//-------------------------------------------

.file-box {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 74px;

  .flag-icon {
    &.file {
      color: #9f9e9e;
    }
    &.directory {
      color: #f49200;
    }
  }

  .file-name {
    cursor: pointer;
    font-size: 12px;

    .last-review {
      color: #40a9ff;
    }
  }

  .flag-icon {
    cursor: pointer;
    user-select: none;
  }

  .file-size {
    color: #828a91;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .target {
    opacity: 0.8;
    :hover {
      opacity: 1;
    }

    .flag-icon,
    .file-name {
      text-align: center;
      word-break: break-all;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  // list
  &.list {
    li {
      font-size: 16px;
      padding: 3px 9px;
      display: flex;
      align-items: center;
      .flag-icon {
        vertical-align: middle;
        margin-right: 5px;
        font-size: 20px;
      }
      .file-name {
        display: inline-block;
        width: calc(100% - 70px);
        vertical-align: middle;
        text-align: left;
        font-size: 12px;
      }
      .file-size {
        width: 60px;
        text-align: right;
      }

      &:hover {
        background: #f3f3f3;
      }
    }
  }

  // grid style
  &.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    li {
      padding: 4px 9px;
      width: 100px;
      .file-size {
        display: block;
      }
    }

    .flag-icon {
      font-size: 30px;
    }

    .file-name {
      text-align: center;
      display: block;
    }

    .target {
      display: flex;
      flex-direction: column;
    }
  }
}

.his-list {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 4px;
  padding-bottom: 4px;

  a {
    color: black;
  }
  p {
    color: #b6b6b6;
    word-break: break-all;
  }

  .name {
    color: #40a9ff;
  }

  &:last-child {
    border: none;
  }
}
