<div *ngIf="fileList.length" class="upload-info">
  <button (click)="clearList()" nz-button>
    <i nz-icon nzType="clear" nzTheme="outline"></i> Clear
  </button>
  <div class="detail" [class.done]="allDone">
    <span *ngIf="!allDone">{{ speedInfo }}</span>
    <span>{{ uplodInfo }}</span>
  </div>
</div>

<div class="clearfix view upload-list" [class.size]="fileList.length">
  <nz-upload
    [nzAction]="uploadUrl"
    nzListType="picture"
    [nzMultiple]="true"
    nzName="upload"
    [nzShowButton]="false"
    [nzRemove]="deleteFile"
    (nzChange)="uploadChange()"
    [nzData]="{ dir: cache.path }"
    [(nzFileList)]="fileList"
  >
    <a #uploadTaget></a>
  </nz-upload>
</div>

<div *ngIf="!loading; else loadingRef">
  <div class="path">
    <span>{{ cache.path }}</span>
    <button
      (click)="uploadTaget.click()"
      nz-button
      nzType="primary"
      [nzSize]="size"
      nzShape="circle"
    >
      <i nz-icon nzType="cloud-upload"></i>
    </button>
  </div>
  <div class="tool-bar view">
    <div class="dir-jump">
      <button (click)="home()" nz-button [nzSize]="size">
        <i nz-icon nzType="home" nzTheme="outline"></i>
      </button>
      <button (click)="back()" nz-button [nzSize]="size">
        <i nz-icon nzType="rollback" nzTheme="outline"></i>
      </button>
      <button (click)="loadData()" nz-button [nzSize]="size">
        <i nz-icon nzType="reload" nzTheme="outline"></i>
      </button>
    </div>
    <div class="changer">
      <button (click)="onStyleChange()" nz-button [nzSize]="size">
        <i
          nz-icon
          nzType="unordered-list"
          nzTheme="outline"
          [class.selected]="!gridStyle"
        ></i>
      </button>
      <button (click)="onViewChange()" nz-button [nzSize]="size">
        <i nz-icon nzType="read" nzTheme="outline" [class.selected]="view"></i>
      </button>
      <button (click)="openDrawer()" nz-button [nzSize]="size">
        <i nz-icon nzType="history" nzTheme="outline"></i>
      </button>
    </div>
  </div>
  <ul class="file-box" [class.list]="!gridStyle" [class.grid]="gridStyle">
    <li
      *ngFor="let item of children"
      [title]="item.name + '  ' + toSize(item.size)"
      class="target"
      [class.file]="item.type === fileType"
    >
      <i
        (click)="fileClick(item)"
        nz-icon
        class="flag-icon {{ item.type }}"
        [nzType]="item.type === fileType ? 'profile' : 'folder'"
        nzTheme="outline"
      ></i>
      <label class="file-name">
        <span
          [class.last-review]="lastViewFile === item.path"
          (click)="fileClick(item)"
          >{{ item.name }}</span
        >
      </label>
      <span class="file-size">{{ toSize(item.size) }}</span>
    </li>
  </ul>
</div>

<ng-template #loadingRef>
  <div class="loading-box">
    <i nz-icon nzType="loading" nzTheme="outline"></i>
    <p>loading</p>
  </div>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleDrawer"
  [nzPlacement]="placement"
  nzTitle="Preview history"
  (nzOnClose)="visibleDrawer = false"
>
  <ng-container *nzDrawerContent>
    <div class="his-list" *ngFor="let item of historyList; let i = index">
      <a>[{{ i + 1 }}] {{ item.fileName }}</a>
      <p>
        <span class="name">{{ item.time }}</span> {{ item.date }}
      </p>
      <p>{{ item.path }}</p>
    </div>
    <span *ngIf="!historyList.length">No data</span>
  </ng-container>
</nz-drawer>
