<nz-drawer
  nzTitle="Upload list"
  nzPlacement="left"
  nzWrapClassName="upload"
  [nzClosable]="true"
  [nzWidth]="310"
  [nzVisible]="visible"
  [nzMaskClosable]="false"
  (nzOnClose)="visible = false"
>
  <ng-container *nzDrawerContent>
    <div class="upload-header">
      <button (click)="uploadTaget.click()" nz-button>
        <i nz-icon nzType="cloud-upload"></i>
      </button>
      <button (click)="clearList()" nz-button>
        <i nz-icon nzType="clear"></i>
      </button>
      <div class="detail" [class.done]="allDone">
        <span *ngIf="!allDone">{{ speedInfo }}</span>
        <span>{{ uplodInfo }}</span>
      </div>
    </div>

    <div class="clearfix view upload-list" [class.size]="fileList.length">
      <nz-upload
        [nzAction]="actionUrl"
        nzListType="picture"
        [nzMultiple]="true"
        nzName="upload"
        [nzShowButton]="false"
        [nzRemove]="deleteFile"
        (nzChange)="uploadChange()"
        [nzData]="{ dir: dir }"
        [(nzFileList)]="fileList"
      >
        <a #uploadTaget></a>
      </nz-upload>
    </div>
  </ng-container>
</nz-drawer>
