<ul nz-menu nzMode="horizontal" nzTheme="dark">
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="share-alt" nzTheme="outline"></i>
    <a routerLink="files"> File</a>
  </li>
  <li nz-menu-item nzMatchRouter class="latest">
    <i nz-icon nzType="wechat" nzTheme="outline"></i>
    <a routerLink="chat"> Chat</a>
  </li>

  <li class="icon-s">
    <i
      nz-icon
      *ngIf="showShutdown"
      (click)="shutdown()"
      class="shutdown"
      nzType="poweroff"
      nzTheme="outline"
    ></i>
    <i
      nz-icon
      (click)="scan()"
      class="scan"
      nzType="scan"
      nzTheme="outline"
    ></i>
  </li>
</ul>

<nz-modal
  [(nzVisible)]="visible"
  (nzOnCancel)="cancel()"
  (nzOnOk)="cancel()"
  [nzTitle]="host"
>
  <ng-container *nzModalContent>
    <img [attr.src]="hostDataUrl" alt="" />
  </ng-container>
</nz-modal>

<div class="router-content">
  <router-outlet></router-outlet>
</div>
